<div style="width: 100wh; height: 100vh;" ng-style="backGroundStyle">
        <div class="nav_container" ng-hide="capturingInProgress">
                <div class="nav_items" title="Draw" ng-class="{'active-btn': (mode == 'draw')}" ng-click="enableDraw()">
                        <span class="glyphicon glyphicon-pencil"></span>
                </div>
                <div class="nav_items" title="Eraser" ng-class="{'active-btn':(mode == 'erase')}" ng-click="enableEraser()">
                        <span class="glyphicon glyphicon-erase"></span>
                </div>
                <div class="nav_items" title="Sticks" ng-class="{'active-btn': (mode == 'stickyNote')}" ng-click="enableStickyNote()">
                        <span class="glyphicon glyphicon-comment"></span>

                </div>
                <div class="nav_items" ng-class="{'active-btn': (mode == 'captureScreenshot')}" ng-click="captureScreen()">
                        <span class="glyphicon glyphicon-send"></span>
                </div>
        </div>
        <div class="colors_container" ng-if="mode === 'draw'" ng-hide="capturingInProgress">
                <div class="color_item" ng-repeat="color in penColors" ng-style="{'background-color':color}" ng-click="changeColor(color)" ng-class="{'selected-color': selectedColor === color}">
                </div>
        </div>

</div>
<draw-container id="drawContainer" ng-class="mode == 'draw' || mode == 'erase' ? 'top-layer' : 'buttom-layer'"></draw-container>
<sticky-note id="stickyNote" ng-class="mode == 'stickyNote' ? 'top-layer' : 'buttom-layer'"></sticky-note>